.book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.book-list-wrap {
    padding-block: calc(3rem + 6rem);

    .main-title {
        margin-block: 0 2rem;
        font: var(--font-weight-bold) 2rem var(--font-primary);
        text-transform: uppercase;
    }
}

.empty-message {
    font: var(--font-weight-bold) 2rem var(--font-primary);
    text-align: center;
    text-transform: uppercase;
}

.notification {
    position: fixed;
    top: 8rem;
    right: 0;
    left: 0;
    margin-inline: auto;
    max-width: 30rem;
    background-color: var(--success);
    padding: 1.5rem;
    z-index: var(--notification-index);
    opacity: 1;
}

.notification-text {
    text-align: center;
    font: var(--font-weight-regular) 1.4rem var(--font-primary);
    color: var(--pure-white);
}

@media (min-width: 768px) {
    .book-list {
        gap: 5rem 3rem;
    }

    .book-list-wrap {
        padding-block: calc(3rem + 8rem);
    }
}

@media (min-width: 992px) {
    .book-list {
        gap: 5rem;
    }
}

@media (min-width: 1600px) {
    .book-list {
        gap: 6rem;
    }
}