:root {
  --primary-color: rgb(58, 57, 103);
  --secondary-color: rgb(242, 233, 211);
  --accent-color: rgb(255, 166, 62);
  --pure-white: rgb(255, 255, 255);

  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Suez One", serif;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --navigation-index: 100
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

html {
  font-size: 62.5%;
  /*Convert px to rems; 1rem = 10px */
  font-family: var(--font-primary);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}